body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #081c24;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
}

.navbar h1 {
  color: white;
}

.navbar h2 {
  color: white;
}

.navbar-right {
  display: flex;
  justify-content: space-evenly;
}

.navbar-right-items {
  margin: 0 20px;
}

.home-btn:hover {
  color: pink;
  /* Cursor doesn't seem to be working. */
  cursor: pointer;
}

.main-content {
  padding-top: 70px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  background-color: #cccccc;
}

.footer p {
  margin-right: 20px;
}

.pagination-container {
  display: flex;
  justify-content: center;
}

.pagination {
  display: inline-block;
}

.pagination-child {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination-child-selected {
  color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: 900;
  background-color: rgb(110, 185, 238);
  border-radius: 5px;
}

.pagination-child-disabled {
  color: gray;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination-child:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

button {
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 1em;
}
